* {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.border {
  width: 175px;
  height: 2px;
  background: lightgray;
  margin: 5px auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.sidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.sidebar a,
.sidebar form {
  float: left;
}
div.content {
  margin-left: 0;
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.imagebox {
  top: 12.5%;
  left: 20%;
  position: absolute;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
img {
  height: 100%;
  width: 100%;
}
.gallery {
  margin: 0px;
  border: 1px solid #ccc;
  float: left;
}
img.gallery:hover {
  border: 1px solid #777;
}

/*Form part */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 4px;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #f32121;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 4px;
}
form.search button:hover {
  background: #da0b0b;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
.order button {
  float: right;
  width: 3%;
  padding: 10px;
  background: #f32121;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  margin-top: 4px;
}
.order button:hover {
  background: #da0b0b;
}
.clear::hover {
  background: #da0b0b;
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}
.clear {
  float: left;
  background: #f32121;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 4px;
  height: 5%;
}
