.hoverover {
  transition: transform .2s;
  /*Animation*/
  width: 150px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.hoverover:hover {
  transform: scale(1.5) /* 150% */
}
