h2{
  text-align: center;
  padding-top: 5px;
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
h3{
  text-align: center;
padding-top: 0;
padding-bottom: 15px;
color: #ff7979;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.version p{
  text-align: center;
  color: #2d3436;
  font-weight: bold;
}
.updateInfo p{
  padding-top: 10px;
  margin-bottom: 20px;
  color: #7f8c8d;
  text-align: justify;
  font-weight: 600;
  font-size: 17px;
}
.border{
  width: 420px;
  height: 3px;
  background: #e74c3c;
  margin: 40px auto;
}