* {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}
body {
  background-color: #f1f1f1;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.border {
  width: 165px;
  height: 2px;
  background: lightgray;
  margin: 5px auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.sidebar {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
.sidebar a {
  float: left;
}
div.content {
  margin-left: 0;
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img {
  display: block;
}
.gallery {
  margin: 0px;
  border: 1px solid #ccc;
  float: left;
}
img.gallery:hover {
  border: 1px solid #777;
}
