*{
  margin: 0;
  padding: 0;
  font-family: "open sans",sans-serif;
}
body{
  background-color: #f1f1f1;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
h2{
  text-align: center;
  padding-top: 5px;
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
h3{
  text-align: center;
padding-top: 0;
padding-bottom: 15px;
color: #ff7979;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.version p{
  text-align: center;
  color: #2d3436;
  font-weight: bold;
}
.updateInfo p{
  padding-top: 10px;
  margin-bottom: 20px;
  color: #7f8c8d;
  text-align: justify;
  font-weight: 600;
  font-size: 17px;
}
.border{
  width: 420px;
  height: 3px;
  background: #e74c3c;
  margin: 40px auto;
}