h3 {
    text-align: left;
  }
  input[type='text'], input[type='password'], select {
      width: 40%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      font-size: 24px;
      font-family: monospace;
  }