/*Form part */
form.search input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-top: 4px;
  }
  h2{
    text-align: left;
  }
  form.search button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #f32121;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 4px;
  }
  form.search button:hover {
    background: #da0b0b;
  }
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }